@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


body{
    background: black !important;
    font-family: 'Bebas Neue', sans-serif !important;
}
p,label,span{
    color: white;
}
label{
    font-family: sans-serif;
}
.border-black{
    border-color: black !important;
}

.border-light-green{
    border-color: #D3E97A !important;
}
.text-light-grey{
    color: #C7C7C7
}

.bg-cream-black{
    background-color: #1A1A1A !important;
}

.bg-light-green{
    background-color: #D3E97A !important
}

.text-light-green{
    color: #D3E97A !important;
}

.bg-black{
    background-color: black;
}

.rounded-2{
    border-radius: 2rem;
}

.contact{
    width: 10rem;
    height: 3rem;
}

.submit{
    width: 8.75rem;
    height: 3.35rem;
}
.social{
    width: 3rem;
    height: 3rem;
}

.github{
    width: 1.5rem;
    height: 1.5rem;
}

.bg-light-black{
    background-color: #222222;
}

.logo{
    font-size: 1.75rem;
    padding: 1rem;
   
}

.font-cursive{
    font-family: cursive;
}

.font-san-serif{
    font-family: sans-serif;
}
.fs-1{
    font-size: 1rem;
}
.fs-2{
    font-size: 2rem;
}
.fs-1-5{
    font-size:1.5rem
}
.fs-2-5{
    font-size:2.5rem
}

.fs-1-3{
    font-size: 1.375rem;
}

.fs-3-5{
    font-size: 3.5rem;
}
.z-index-1{
    z-index: 1;
}

.row-column-gap{
    row-gap: 1.5rem;
    column-gap: 2rem;
}

@media (min-width: 375px) {
    .d-xs-none {
        visibility: hidden;
    }
}



